body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h1{
    text-align: center;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

.bannerContainer{
    position: relative;
    width: 100%;
}

.banner{
    position: relative;
    max-width: 100%;
    height: auto;
}

.gameLogo{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

.splitContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contributeSection{
    width: 50%;
    background-color: #c4b9ca;
    border: 10px solid #c4b9ca;
    border-radius: 15px;
}

.media{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mediaElement{
    border: 5px solid #c4b9ca;
    margin: 5px;
}

.contribute{
    width: 50%;
    background-color: #c4b9ca;
    border: 10px solid #c4b9ca;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contributeButton{
    border: 5px solid #97679d;
    border-radius: 15px;
    background-color: #97679d;

    height: 10%;
    margin: 10px;

    color: black;
}

.contributeButton.p{

    text-align: center;
}

.contributeButton:hover{
    background-color: #ac82c3;
    border-color: #ac82c3;
}

.tiers{
    width: 50%;
    border: 10px solid #c4b9ca;
}

.stGoals{
    width: 50%;
    border: 10px solid #c4b9ca;
}

.splitContainer p{
    text-align: center;
}